html{
  display: flex;
  justify-content: center;
  align-items: flex-start;
 width:100%;
 --banner-height:150px;
 --header-height:50px;
 --icon-height:50px;
 --icon-width:40%;
}
#banner{
  height:var(--banner-height);
  width:100%;
  background-image: url("banner.gif");
  text-align: center;
}
 header{
  margin:0;
  padding:0;
    width:100%;
    height: var(--header-height);
    background-color: #020B00;
    display: flex;                 /*Make parent(header) a flex container */
    justify-content: space-between;/*Space around child horizontally */
    align-items: center;           /*center child vertically */
    flex-wrap: nowrap;
  }
  #icon{
    height:var(--icon-height);
    border-radius: 50%;
  }
  #name{
    text-align: center;
    font-size:25px;
    color:white;
    font-family: Pacifico;
    transition-property: color;
    transition-duration: 750ms;
    text-decoration: none;
  }
  #name:hover{
    color:#278405;
  }
  #icon_container{
    width:var(--icon-width);
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .line{
    margin: 10px 0;
    display:flex;
    justify-content:center;
    align-items: center;
    width:100%;
  }
  hr{
    width:calc(100% - var(--icon-width));
    border: 2px solid black;
    border-radius: 5px;
  }
  body{
    margin: 0;
    padding:0;
    background-color: white;
    width:100%;
    justify-content:center;
    align-items: flex-start;
  }
  ul{
    width:60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: monospace;
    list-style-type: none
  }
  ul a{
    color:white;
    transition-property: color;
    transition-duration: 750ms;
    text-decoration: none;
  }
  ul a:hover{
    color:#278405;
  }
  h1{
    margin:0;
    font-family: 'Courier New';
    text-align:center;
    width:20%;
    border: 4px solid black;
  }
  .button-49{
    font-size: 25px;
    font-family: Pacifico;
    color: #fff;

  }
  .button-49 a{
    text-decoration: none;
    color: #fff;
    transition-property: color;
    transition-duration: 500ms;
  }
  .button-49 a:hover{
    color:#278405;
  }
  @media only screen and (max-width: 600px) {
    html{
      --header-height:120px;
      --icon-height:70px;
    }
    #icon_container{
      width:100%;
      display: flex;
      justify-content: center;
      margin:0;
    }
    header{
      flex-direction: column;
      justify-content:space-bewteen;
      align-items: center;
    }
    ul{
      width:90%;
      font-size:1.5em;
    }
  }
  
 